@model IEnumerable<Julekalender.Models.Tipp>
@{
    ViewData["Title"] = "Jule kalender";
}

<h1>Open the Days!</h1>


@{
    foreach(var modelitem in Model)
    {
        <div class="door-element">
            <label/>
            <input type="checkbox" />
            <div class="door">
                <div class="front">@modelitem.TippID</div>
                <div class="back">@modelitem.Content</div>
            </div>
        </div>
    }
}



